<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TimeTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
     <!--if DEBUG - take the default DB: Db.TimeTrack.DbModel.A0DbContext-->
		<add name="TimeTrackDbCntxDbg" connectionString="Data Source=.\sqlexpress;Initial Catalog=TimeTrackDb_Dbg;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="TimeTrackDbCntxRls" connectionString="Data Source=.\sqlexpress;Integrated Security=True;Initial Catalog=TimeTrackDbRls;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="TimeTrackDbCntxRl_" connectionString="Data Source=.\sqlexpress;Integrated Security=True;AttachDbFilename=C:\Users\tester\SkyDrive\mdb\TimeTrackDb.mdf;User Instance=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <!--<providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>-->
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <userSettings>
    <TimeTracker.Properties.Settings>
      <setting name="OptnVw" serializeAs="String">
        <value/>
      </setting>
      <setting name="SBrdVw" serializeAs="String">
        <value/>
      </setting>
      <setting name="InvcVw" serializeAs="String">
        <value/>
      </setting>
      <setting name="PeyPVw" serializeAs="String">
        <value/>
      </setting>
      <setting name="TShtVw" serializeAs="String">
        <value/>
      </setting>
      <setting name="LastBtnNo" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="XpsVw" serializeAs="String">
        <value/>
      </setting>
      <setting name="_NotUsed" serializeAs="String">
        <value/>
      </setting>
    </TimeTracker.Properties.Settings>
  </userSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="test@foo.com">
        <!--userName="***" password="****"-->
        <!--port="25"-->
        <network host="192.168.116.48" defaultCredentials="true"/>
        <!--
				<network host="mail.svr.ca" defaultCredentials="true" />
				<network host="mail.aei.ca" defaultCredentials="true"/>
				-->
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
